@using PundoPH.Data
@using PundoPH.Model
@inject ContributionService ContributionService

@page "/EditContribution/{contributionID}"

<h3>EditContribution</h3>

<EditForm Model="contribution" class="col-6">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" placeholder="Name" @bind="contribution.Name" class="form-control mb-3" />
    <InputText id="description" placeholder="Description" @bind="contribution.Description" class="form-control mb-3" />
    <InputText id="amount" placeholder="Amount" @bind="AmountString" class="form-control mb-3" />
    <button id="add" type="submit" class="btn btn-primary">Add</button>
</EditForm>

@code {
    [Parameter]
    public string contributionID { get; set; }
    public Contribution? contribution;

    protected override async Task OnInitializedAsync()
    {
        await ContributionService.Get(int.Parse(contributionID));
    }
}
