@using PundoPH.Model
@* @using PundoPH.Data *@
@using System.Text.Json
@using PundoPH.Service

@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@* @inject UserService UserService *@
@inject Service Service

<EditForm Model="loginModel" class="col-12">
    <InputText class="form-control mb-2" placeHolder="UserName" @bind-Value="@loginModel.UserName"></InputText>
    <InputText type="password" class="form-control" placeHolder="Password" @bind-Value="@loginModel.Password"></InputText>
</EditForm>

<p class="text-danger">@ErrorMessage</p>
<button class="btn btn-success" @onclick="Login">Login</button>
<a href="/Register"> Create new account </a>
@code {
    public string ErrorMessage { get; set; }
    [Parameter]
    public LoginModel loginModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        loginModel = new LoginModel();
    }

    private async Task Login() 
    {
        var user = Service.User.GetUser(loginModel.UserName, loginModel.Password);
        if (user != null)
        {
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "currentUser", JsonSerializer.Serialize(user));
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "Token", user.Token);
            navigationManager.NavigateTo($"/Index/{user.Id}");
        }
        else 
        {
            ErrorMessage = "Invalid Username and Password, please input valid Username and Password!";
        }

    }
}
