@using PundoPH.Model
@using PundoPH.Data
@using System.Text.Json

@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject UserService UserService

<EditForm Model="loginModel" class="col-3">
    <InputText class="form-control mb-2" placeHolder="UserName" @bind-Value="@loginModel.UserName"></InputText>
    <InputText type="password" class="form-control" placeHolder="Password" @bind-Value="@loginModel.Password"></InputText>
</EditForm>

<p class="text-danger">@ErrorMessage</p>
<button class="btn btn-success" @onclick="Login">Login</button>
<a href="/Register"> Create new account </a>
@code {
    public string ErrorMessage { get; set; }
    [Parameter]
    public LoginModel loginModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        loginModel = new LoginModel();
    }

    private async Task Login() 
    {
        var user = UserService.GetUser(loginModel.UserName, loginModel.Password);
        if (user != null)
        {
            // loginModel.UserID = 1;
            // await loginModel.IsLoginSucessful.InvokeAsync(true);

            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "currentUser", JsonSerializer.Serialize(user));
            
            navigationManager.NavigateTo($"/Index/{user.Id}");
        }
        else 
        {
            ErrorMessage = "Invalid Username, please input valid Username!";
        }

    }
}
