@* @using PundoPH.Data *@
@using PundoPH.Model
@using System.Text.Json
@using PundoPH.Service
@inject Data.AppDbContext DbContext
@inject NavigationManager navigationManager
@inject Service Service
@inject IJSRuntime JSRuntime

<EditForm Model="@user" OnValidSubmit="SaveCreateUser" class="col-12">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="firstname" placeHolder="Firstname" @bind-Value="user.FirstName" class="form-control mb-2" />
    <InputText id="lastname" placeHolder="Lastname" @bind-Value="user.LastName" class="form-control mb-2" />
    <InputText id="password" placeHolder="Password" type="password" @bind-Value="user.Password" class="form-control mb-2" />
    <InputText id="email" placeHolder="Email" type="email" @bind-Value="user.Email" class="form-control mb-2" />

    <button type="submit" class="btn btn-primary">Create User</button>
    <a id="back" class="btn btn-primary" href="/">Back</a>
</EditForm>

@code {
    public User user = new();
    public string errorMessage { get; set; }

    private async Task SaveCreateUser()
    {
        string result = await Service.User.SaveCreateUser(user);
        if (string.IsNullOrEmpty(result) || result == "")
        {
            var u = Service.User.GetUser(user.FirstName, user.Password);
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "currentUser", JsonSerializer.Serialize(u));
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "Token", u.Token);

            navigationManager.NavigateTo($"/Index/{user.Id}");
        }
        else 
        {
            errorMessage = result;
        }
    }
}
