@page "/Index"
@page "/Index/{UserID}"

@using PundoPH.Model;
@using PundoPH.Pages.Components;
@using System.Text.Json

@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>
<h1>Hello @CurrentUser?.FirstName , welcome to the world!</h1>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    [Parameter]
    public string UserID { get; set; }
    private User? CurrentUser;

    // protected override void OnInitialized()
    // {
    //     base.OnInitialized();
    //     UserID = loginModel.UserID.ToString();
    // }

    protected override async Task OnInitializedAsync()
    { 
        string userData = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentUser");

        if (!string.IsNullOrEmpty(userData))
        {
            CurrentUser = JsonSerializer.Deserialize<User>(userData);
        }
    }
}
